extends layout

block content
  h1= title
  p Welcome to first rest app
  
  #wrapper
    h2 User List
      #userList
      table
        thead
          th Username
          th Email
          th Delete ?
        tbody
      
